@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #DDEB9D;
  --primary-foreground: #143D60;
  --secondary-background: #A0C878;
  --secondary-foreground: #086FB3;
}

body {
  color: var(--primary-foreground);
  background: #ffffff;
  font-family: "Liter", serif;
}

@layer utilities {
  .screen-width{
    @apply px-20 py-12;
  }
  .mobile-width{
    @apply px-3 py-4;
  }
  .liter-regular {
    font-family: "Liter", serif;
  }
}
